@import "../../Styles/Settings/Colors";

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &-title {
    font-size: 18px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      height: 1px;
      width: 40px;
      background: #e4c7a2;
    }
  }
}

//Products empty

.products-empty {
  margin: 25px 0;
  text-align: center;
  color: $greyMedium;
}

//Media

@media screen and (max-width: 768px) {
  .products-empty {
    margin: 50px 0;
  }
}