.btn {
  padding: 12px 16px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  text-transform: uppercase;
  background: $greyDark;
  color:white;
  border: none;
  transition: background 0.25s, color 0.25s;
  &:hover, &:focus, &:active {
    cursor: pointer;
    background: $gold;
    color: $greyDark;
    outline-color: $gold;
  }
}
