//Basic Colors
$gold: #e4c7a2;
$white: #e5e5e5;
$greyDark: #333;
$greyMedium: #666;
$greyLight: #999;

//Error
$errorDark: #a94442;
$errorMedium: #ebccd1;
$errorLight: #ebccd1;

//Succes
$successDark: #155724;
$successMedium: #c3e6cb;
$successLight: #d4edda;