input,textarea,select {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid $greyLight;
  transition: border 0.25s;
  font-family: 'Montserrat', sans-serif;
  &:focus {
    outline: none;
    border-color: $gold;
  }
  &::placeholder {
    color: $greyMedium;
  }
  &.error:focus {
    border-color: $errorLight;
  }
}
textarea {
  resize: vertical;
}

//Form group

.form-group {
  margin: 0 0 30px 0;
  position: relative;
}

//Forms errors

.form-error {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: $error;
  font-size: 13px;
}
.error {
  border-color: $red;
}