input,textarea,select {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid $greyLight;
  transition: border 0.25s;
  font-family: 'Montserrat', sans-serif;
  &:focus {
    outline: none;
    border-color: $gold;
  }
  &::placeholder {
    color: $greyMedium;
  }
  &.error:focus {
    border-color: $errorMedium;
  }
}
textarea {
  resize: vertical;
}

//Remove browser autocomplete styles

input:-webkit-autofill, textarea:-webkit-autofill, 
select:-webkit-autofill  {
  background-color: white !important;
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

//Search input

.search-input {
  position: relative;
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: $greyLight;
    transition: fill 0.25s;
  }
}

//Form group

.form-group {
  margin: 0 0 30px 0;
  position: relative;
}

//Forms errors

.form-error {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: $errorDark;
  font-size: 13px;
}
.error {
  border-color: $red;
}

//Form checkbox

.checkbox {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 0;
  & + label {
    position: relative;
    cursor: pointer;
  }
  & + label::before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    transition: background 0.25s;
    border: 1px solid $gold;
  }
  & + label::after {
    content: '✔';
    font-size: 14px;
    position: absolute;
    left: 5px;
    top: 1px;
    color: white;
    opacity: 0;
    transition: opacity 0.25s;
  }
  &:hover + label::before {
    background: $gold;
  }
  &:hover + label::after {
    background: $gold;
  }
  &:focus + label::before {
    border-color: $greyLight;
  }
  &:checked + label::before {
    background: $gold;
  }
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  &:checked + label::after {
    opacity: 1;
  }
  &:disabled + label::before {
    box-shadow: none;
    background: #ddd;
  }
}