$navigationHeight: 70px;
$navigationBackground: white;

$navigationHeightSmall: 60px;

$navigationForeground: gray;
$navigationHoverForeground: black;

$hamburgerColor: #333;

nav
{
    background: $navigationBackground;
    height: $navigationHeight;
}

.navigation-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 102;
}

.navigation-brand{
    background:red;
}

.navigation-menu {
    list-style-type: none;

    .navigation-item {
        display: inline-block;
        position: relative;
        padding: 0 20px;
        font-size: 18px;
        text-transform: uppercase;
        line-height: $navigationHeight;
        color: $navigationForeground;

        > a {
            cursor: pointer;
        }

        &:hover {
            color: $navigationHoverForeground;
        }
    }
}

.hamburger-segment {
    background-color: $hamburgerColor;

    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.navigation-hamburger {
    display: none;
}

@media(max-width: 580px)
{
    .navigation-container
    {
        height: $navigationHeightSmall;
    }

    .navigation-menu
    {
        visibility: hidden;
        background-color: $navigationBackground;
        width: 100%;
        position:absolute;
        top: $navigationHeightSmall;
        height:100vh;
    }
    .navigation-hamburger
    {
        display: block;
    }
    .navigation-item
    {
        width: 100%;
        text-align: center;
    }
    .toggled {
        visibility: visible;
    }
}