$navigationHeight: 70px;
$navigationBackground: white;

$navigationHeightSmall: 60px;

$navigationForeground: gray;
$navigationHoverForeground: black;

$hamburgerColor: #333;

nav
{
    background: $navigationBackground;
    height: $navigationHeight;
}

.navigation-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 102;
}

.navigation-brand{
    background: url('../assets/logo.png') no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.navigation-menu {
    list-style-type: none;
}

.navigation-item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: $navigationHeight;
    color: $navigationForeground;

    > a {
        cursor: pointer;
    }

    &:hover {
        color: $navigationHoverForeground;
    }
}

.hamburger-segment {
    background-color: $hamburgerColor;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    display: block;
    position: relative;

    &:before {
        background-color: $hamburgerColor;
        width: 100%;
        height: 5px;
        display: block;
        content: '';
        top: -12px;
        position: absolute;
    }

    &:after {
        background-color: $hamburgerColor;
        width: 100%;
        height: 5px;
        display: block;
        content: '';
        top: 12px;
        position: absolute;
    }
}

.navigation-hamburger {
    display: none;
}

.navigation-hamburger, .navigation-cart {
    background: none;
    border: none;
    outline: none;
}

.navigation-cart
{
    width: 50px;
    height: 50px;
}

@media(max-width: 768px)
{
    .navigation-container
    {
        height: $navigationHeightSmall;
    }

    .navigation-brand {
        width: 40px;
        height: 40px;
    }

    .navigation-menu
    {
        visibility: hidden;
        background-color: $navigationBackground;

        width: 100%;
        position:fixed;
        top: $navigationHeightSmall;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .navigation-hamburger {
        display: block
    }
    .navigation-item {
        width: 100%;
        text-align: center;
        font-size: 100%;
        vertical-align: middle;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggled {
        visibility: visible;
        overflow-y: hidden;
    }
}