@import "../../../Styles/Settings/Colors";
@import "../../../Styles/Components/Buttons";

.page-product {
  padding: 50px 0 0 0;
}
//Item buy

.item-buy {
  display: flex;
  margin-top: 30px;
}
.item-add {
  width: 200px;
}

//Item informations

.item-info {
  &-name {
    margin: 0 0 8px 0;
    color: $greyDark;
  }
  &-price {
    font-weight: 600;
    font-size: 18px;
    color: $gold;
    margin:  0 0 8px 0;
  }
}

// Item amount

.item-amount {
  position: relative;
  margin: 0 15px 0 0;
  input {
    width: 120px;
    padding: 12px 45px;
    text-align: center;
  }
}
.item-amount-btn {
  position: absolute;
  top: 1px;
  height: 95%;
  width: 45px;
  z-index: 1;
  padding: 0;
  svg {
    width: 15px;
    height: 15px;
    fill: #ccc;
  }
  &:nth-child(1) {
    left: 0;
  }
  &:last-child {
    right: 0;
  }
}

// Socials icons

.item-socials {
  display: flex;
  margin: 30px 0;
  &-text {
    margin: 0 10px 0 0;
  }
  &-list {
    display: flex;
  }
  .item-social-item {
    margin: 0 6px;
    a {
      display: block;
      height: 100%;
      width: 100%;
      &:hover, &:focus {
        svg {
          fill: $gold;
        }
      }
      svg {
        fill: #666666;
        width: 15px;
        height: 15px;
        transition: fill 0.25s;
      }
    }

  }
}

// Item Gallery
.item-frame {
  margin: 0 0 25px 0;
}
.item-slider {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.item-image {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  background: #eef1f8;

  &.fade-leave-active
  {
    display: none;
  }

}
.photo-indicator {
  height: 60px;
  width: 60px;
  margin: 10px;
  background: #eef1f8;
}
.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-frame {
  display: flex;
  position: relative;
  transition: left 0.5s;
}
.slider-back, .slider-next {
  width: 50px;
  height: 50px;
}

//Item Tabs

.product-tabs {
  margin: 50px 0 35px 0;
}
.tabs-header {
  width: 100%;
}
.tabs-list {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $greyLight;
    bottom: 0;
    left: 0;
  }
}
.tab-header {
  padding: 15px;
  position: relative;
  color: #999;
  transition: color 0.25s;
  outline: none;
  &::after {
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background: $gold;
    transition: width 0.35s;
    z-index: 2;
  }
  &:hover, &:focus {
    color: $greyDark;
    &::after {
      width: 100%;
    }
  }
  &.active {
    color: $greyDark;
    &::after {
      width: 100%;
    }
  }
}
.product-properties {
  width: 100%;
  text-align: center;

  ::first-letter {
    text-transform: capitalize;
  }
}
.property-cell {
  padding: 20px;
  border: 1px solid $greyLight;
  &:first-of-type {
    font-weight: 500;
  }
}
.tabs {
  padding-bottom: 50px;
}
.tab-body {
  width: 100%;
}

//Media

@media screen and (max-width: 992px) {
  .item-gallery {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 480px) {
  .product-tabs {
    margin: 25px 0;
  }
  .tabs-list {
    flex-wrap: wrap;
  }

}