@import "../../../Styles/Settings/Colors";
@import "../../../Styles/Components/Buttons";

.page-product {
  padding: 50px 0 0 0;
}
//Item buy

.item-buy {
  display: flex;
  margin-top: 30px;
}
.item-add {
  width: 200px;
}

//Item informations

.item-info {
  &-name {
    margin: 0 0 8px 0;
    color: $greyDark;
  }
  &-price {
    font-weight: 600;
    font-size: 18px;
    color: $gold;
    margin:  0 0 8px 0;
  }
}

// Item amount

.item-amount {
  position: relative;
  margin: 0 15px 0 0;
  input {
    width: 120px;
    padding: 12px 45px;
    text-align: center;
  }
}
.item-amount-btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  z-index: 1;
  svg {
    width: 15px;
    height: 15px;
    fill: #ccc;
  }
  &:nth-child(1) {
    left: 0;
  }
  &:last-child {
    right: 0;
  }
}

// Socials icons

.item-socials {
  display: flex;
  margin: 30px 0;
  &-text {
    margin: 0 10px 0 0;
  }
  &-list {
    display: flex;
  }
  .item-social-item {
    margin: 0 6px;
    a {
      display: block;
      height: 100%;
      width: 100%;
      &:hover, &:focus {
        svg {
          fill: $gold;
        }
      }
      svg {
        fill: #666666;
        width: 15px;
        height: 15px;
        transition: fill 0.25s;
      }
    }

  }
}

// Item Gallery
.item-frame {
  margin: 0 0 25px 0;
}
.item-slider {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.item-image {
  width: 100%;
  height: auto;
  background: #eef1f8;

}
.photo-indicator {
  height: 60px;
  margin: 10px;
}
.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider-frame {
  display: flex;
  position: relative;
  transition: left 0.5s;
}
.slider-back, .slider-next {
  width: 50px;
  height: 50px;
}

//Media

@media screen and (max-width: 992px) {
  .item-gallery {
    margin: 0 0 50px 0;
  }
}

//Item Tabs

.product-tabs
{
  display: flex;
  justify-content: center;
}

.tab-header
{
  padding: 50px;
  position: relative;
  &::after {
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    bottom: 30%;
    transition: width 1s;
  }

  &:hover
  {
    &::after
    {
      width: calc(100% - 100px);
      background: brown;
    }
  }

  &.active
  {
    &::after
    {
      width: calc(100% - 100px);
      background: brown;
    }
  }
}

.tab-body
{
  width: 100%;
}