//Form fade

.fade-form-enter-active, .fade-form-leave-active {
  transition: opacity 0.3s, transform 0.2s;
}
.fade-form-enter, .fade-form-leave-to {
  opacity: 0;
  transform: translate3d(-10px,0,0);
}

//Fade

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

//Cart fade

.move-fade {
  &-move {
    transition: all 0.6s ease-in-out;
  }
  &-enter-active {
    transition: all 0.5s ease-out;
  }
  &-leave-active {
    transition: all 0.3s ease-in;
    position: absolute;
    z-index: 0;
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: translate3d(-50px,0,0);
  }
  &-enter {
    transform: scale(0.9)
  }
}

//Fade Tabs

.fade-tabs {
  &-enter-active, &-leave-active {
    transition: opacity 0.4s;
  }
  &-enter {
    opacity: 0;
  }
  &-leave-to {
    display: none;
  }
}

//Page transition


.page-transition {
  &-enter-active, &-leave-active {
    transition: all 0.9s;
  }
  &-enter {
    opacity: 0;
  }
  &-leave-to {
    display: none;
  }
}