@import "../../../Styles/Settings/Colors";

$navigationHeight: 70px;
$navigationHeightSmall: 60px;

$navigationBackground: $white;
$navigationForeground: $greyMedium;
$navigationHoverForeground: $greyDark;
$navigationAccent: $gold;

$hamburgerColor: $greyDark;
$dropdownBackground: white;

.cart-dropdown {
  position: absolute;
  top: $navigationHeight;
  background: $dropdownBackground;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  right: 30px;
  min-width: 310px;
  max-width: 310px;
  &::before {
    height: 5px;
    background: $navigationAccent;
    width: 100%;
    content: '';
    display: block;
  }
}

//Cart list

.cart-list {
  padding: 30px 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

//Cart image

.cart-photo {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: auto;
    background: #eef1f8;
  }
}

//Cart content

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  margin: 0 0 0 10px;

  &-amount {
    color: $gold;
    font-weight: 500;
  }
  &-price {
    color: #414141;
    font-weight: 500;
  }
}

//Button close

.button-close {
  width: 22px;
  height: 22px;
  padding: 3px;
  svg {
    width: 100%;
    height: 100%;
    fill: $greyLight;
    transition: fill 0.4s;
  }
  &:hover svg, &:focus svg {
    fill: $greyMedium;
  }
}

//Cart summary

.cart-summary {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 15px 20px;
  justify-content: space-between;
  &-price, &-text {
    font-size: 18px;
    font-weight: 600;
  }
  &-price {
    font-weight: 600;
    color: $gold;
  }
  &-text {
    color: #333;
  }
  &-blank {
    width: 100%;
    text-align: center;
    margin: 0 0 60px 0;
    color: $greyMedium;
  }
}
.cart-submit {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  background: $greyDark;
  color: white;
  transition: background 0.25s, color 0.15s;
  &:hover, &:focus {
    background: $gold;
    color: $greyDark;
  }
}

//Cart counter

.cart-counter {
  position: absolute;
  top: -10px;
  right: -5px;
  background: $gold;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Media

@media screen and (max-width: 768px) {
  .cart-dropdown {
    top: 60px;
  }
}

@media screen and (max-width: 480px) {
  /*.cart-dropdown {
    right: 0;
    width: 100%;
    max-width: 480px;
    max-height: 500px;
    overflow-y: auto;
  }*/
  .cart-dropdown {
    right: 0;
    width: 100%;
    max-width: 480px;
    height: calc(100vh - 60px);
  }
  .cart-list {
    max-height: 400px;
    overflow-y: auto;
  }
  .cart-summary {
    height: 25%;
    padding: 15px 20px 0 20px;
    border-top: 1px solid $greyLight;
  }
}