@import "../../../Styles/Settings/Colors";

.login-container {
  padding: 0 30px;
  &.fade-leave-active {
    display: none;
  }
  h5 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.form-group {
  position: relative;
  margin: 30px 0;
  label {
    display: block;
    margin-bottom: 10px;
  }
}
.form-buttons {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}


.button-signin {
  height: 45px;
  background: $greyDark;
  color: white;
  transition: color 0.25s, background 0.25s;
  &:hover {
    background: $gold;
    color: white;
  }
}

//Forgot password link

.forgot-password {
  text-align: right;
  margin: 30px 0 0 0;
  font-size: 13px;
  color: $greyMedium;
  transition: color 0.25s;
  &:hover, &:focus {
    color: $gold;
    text-decoration: underline;
  }
}