@import "../../../Styles/Settings/Colors";

.login-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    &.fade-leave-active
    {
        display: none;
    }
}

.form-section
{
    padding: 4px;
}

.form-buttons
{
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.button-signin
{
    height: 45px;
    border: 1px solid $gold;

    &:hover
    {
        background: $gold;
        color: white;
    }
}

.button-forgot
{
    margin-top: 10px;
    height: 45px;
    
    background: $gold;
    color: white;   
    &:hover
    {
        border: 1px solid $gold; 
        color: initial;
        background: none;
    }
}