@import "../../../Styles/Settings/Colors";

.registration-container {
  padding: 0 30px;
  &.fade-leave-active {
    display: none;
  }
  h5 {
    text-align: center;
    margin-bottom: 30px;
  }
}
.form-section {
  margin: 10px 0;
  label {
    display: block;
    margin-bottom: 10px;
  }
}

.section-header
{
  display: flex;
  justify-content: space-between;
}

.header-error
{
  color: red;
}

.checkbox-section {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;

}
.button-signup {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  background: $greyDark;
  color: white;
  transition: background 0.25s;
  &:hover, &:focus {
    background: $gold;
  }
}

//Media

@media screen and (max-width: 576px) {
  .registration-container {
    padding: 0 15px;
  }
}