@import "../../../Styles/Settings/Colors";

.registration-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    &.fade-leave-active
    {
        display: none;
    }
}

.registration-form
{
    width: 90%;
}

.form-section
{
    padding: 4px;
}

.checkbox-section
{
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: space-between;

    >input
    {
        width: 16px;
    }
}

.button-signup
{
    margin-top: 10px;

    height: 45px;
    width: 100%;

    background: $gold;
    color: white;   
    &:hover
    {
        border: 1px solid $gold; 
        color: initial;
        background: none;
    }
}